body {
  background-color: #ffffff;
  align-items: center;
  text-align: center;

  @media (max-width: 756px) {
    align-items: center;
  }
}

  body,
  html,
  app{
    max-width: 100vw;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
  }

*,
*::before,
*::before {
  box-sizing: border-box;
}

Link,
li,
a {
  text-decoration: none;
  list-style-type: none;
  margin: 1rem;
  cursor: pointer;
}
